:root {
    --paragraphColor: #555;
    --defaultBlack: #000;
    --anchorHover: #808080;
    --defaultWhite: #fff;
    --buttonsProfile: #353535;
    --blurWhite: #ffffffc1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
p {
    color: var(--paragraphColor);
}

/*----------------*/
/*NAVIGATION*/
/*----------------*/
header {
    position: sticky;
    top: 0;
    background-color: var(--blurWhite);
    z-index: 10;
    backdrop-filter: blur(0.7rem);
}
nav,
.nav-links {
    display: flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a {
    color: var(--defaultBlack);
    text-decoration: none;
}
a:hover {
    color: var(--anchorHover);
}
.nav-links li::after {
    content: "";
    width: 0%;
    height: 0.125rem;
    background-color: var(--anchorHover);
    display: block;
    margin: auto;
    transition: 0.3s ease;
}
.nav-links li:hover::after {
    width: 100%;
}
.logo {
    font-size: 2rem;
}
.logo:hover {
    cursor: default;
}

/*----------------*/
/*HAMBURGER MENU*/
/*----------------*/
#hamburger-nav {
    display: none;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5rem;
    width: 2rem;
    cursor: pointer;
}
.hamburger-icon span {
    width: 100%;
    height: 0.125rem;
    background-color: var(--defaultBlack);
    transition: all 0.3s ease-in-out;
}
/*-----------*/
/*APARTADO PARA CAMBIAR EL MENU DE FORMA*/
/*-----------*/
.menu-links {
    position: absolute;
    top: 100%;
    margin-top: 2rem;
    right: 0;
    background-color: var(--defaultWhite);
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.menu-links a {
    display: block;
    padding: 0.625rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--defaultBlack);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.menu-links li {
    list-style: none;
}
/*-----------*/
/*APARTADO 2 PARA CAMBIAR EL MENU DE FORMA*/
/*-----------*/
.menu-links.open {
    max-height: 18.75rem;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(0.625rem, 0.3125rem);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(0.625rem, -0.3125rem);
}

/*----------------*/
/*SECTIONS*/
/*----------------*/
section {
    height: 90vh;
    margin: 0 10rem;
    height: fit-content;
    padding-top: 10rem;
}
.section-container {
    display: flex;
}

/*----------------*/
/*PROFILE SECTION*/
/*----------------*/
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    padding-top: 0;
}
.section__pic-container {
    display: flex;
    height: 25rem;
    width: 25rem;
    margin: auto 0;
}
.section__pic-container img {
    border-radius: 50%;
}
.section__text {
    align-self: center;
    text-align: center;
}
.section__text p {
    font-weight: 600;
}
.section__text__p1 {
    text-align: center;
}
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title {
    font-size: 3rem;
    text-align: center;
}
#social-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
a {
    position: relative;
}
.icon {
    height: 2.5rem;
    cursor: default;
}

.social-icon:hover {
    filter: invert(100%);
    background-color: var(--defaultWhite);
    border-radius: 20%;
    cursor: pointer;
}

/*----------------*/
/*BUTTONS*/
/*----------------*/
a,
.btn {
    transition: all 0.3s ease;
}
.btn {
    font-weight: 600;
    padding: 1rem;
    width: 9rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
}
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn-color-1 {
    border: var(--defaultWhite) 0.1rem solid;
    background-color: var(--buttonsProfile);
    color: var(--defaultWhite);
}
.btn-color-1:hover {
    background: none;
    border: var(--buttonsProfile) 0.1rem solid;
    color: var(--buttonsProfile);
}
.btn-color-2 {
    background: none;
    border: var(--buttonsProfile) 0.1rem solid;
}
.btn-color-2:hover {
    border: var(--defaultWhite) 0.1rem solid;
    background-color: var(--buttonsProfile);
    color: var(--defaultWhite);
}

/*----------------*/
/*ABOUT SECTION*/
/*----------------*/
#about {
    position: relative;
}
#about .section-container {
    display: block;
}
.about-containers,
.about-details-container {
    display: flex;
}
.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container {
    justify-content: center;
    flex-direction: column;
}
.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
.details-container {
    padding: 1.5rem;
    flex: 1;
    background-color: var(--defaultWhite);
    border-radius: 2rem;
    border: 0.1rem solid var(--buttonsProfile);
    text-align: center;
}
.section-container {
    gap: 4rem;
    height: 80%;
}

/*----------------*/
/*EXPERIENCE SECTION*/
/*----------------*/
#experience {
    position: relative;
}
.experience-sub-title {
    color: var(--paragraphColor);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.article-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
article {
    display: flex;
    width: 10rem;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
article .icon {
    cursor: default;
}

/*----------------*/
/*PROYECTS SECTION*/
/*----------------*/
#proyects {
    position: relative;
}
.color-container {
    border: 0.1rem solid var(--buttonsProfile);
    background: var(--defaultWhite);
}
.proyect-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}
.proyect-title {
    margin: 1rem;
    color: var(--defaultBlack);
}
.proyect-btn {
    color: var(--defaultBlack);
    border: 0.1rem solid var(--buttonsProfile);
}
#proyects .section__text__p1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

/*----------------*/
/*CONTACT SECTION*/
/*----------------*/
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: 0.1rem solid var(--buttonsProfile);
    background-color: var(--defaultWhite);
    margin: 2rem auto;
    padding: 0.5rem;
}
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact-info-container p {
    font-size: larger;
}
.contact-icon {
    cursor: default;
    height: 2rem;
}
.email-icon {
    height: 2.5rem;
}

/*----------------*/
/*FOOTER SECTION*/
/*----------------*/
footer {
    height: 26vh;
    margin: 0 1rem;
}
footer p {
    text-align: center;
}
