@font-face {
    font-family: 'Oswald';
    src: url('/proyects/yt-clone/fonts/Oswald-Regular.eot');
    src: url('/proyects/yt-clone/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('/proyects/yt-clone/fonts/Oswald-Regular.woff2') format('woff2'),
        url('/proyects/yt-clone/fonts/Oswald-Regular.woff') format('woff'),
        url('/proyects/yt-clone/fonts/Oswald-Regular.ttf') format('truetype'),
        url('/proyects/yt-clone/fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/proyects/yt-clone/fonts/OpenSans-Regular.eot');
    src: url('/proyects/yt-clone/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/proyects/yt-clone/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('/proyects/yt-clone/fonts/OpenSans-Regular.woff') format('woff'),
        url('/proyects/yt-clone/fonts/OpenSans-Regular.ttf') format('truetype'),
        url('/proyects/yt-clone/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

